{
	"token": "...",
	"owner": ["719815864135712799","483359783831732255"],
	"client_id": "...",
	"webhook_avatar_url": "https://github.com/TecEash1/TecEash1/assets/92249532/bd4aca7e-daab-4eeb-9265-e53cc1925e8c",
	"webhook_url_personality_logs": "...",
	"webhook_url_console_logs": "...", 
	"Gemini_API_KEY": "...",
	"XProdiaKey": "...",
	"Block_NSFW_Images": true
}