{
    "token": "...",
    "owner": ["719815864135712799","483359783831732255", "OWNER USER IDS HERE"],
    "client_id": "...",
    "emojis": {
        "loading": "⭕",
        "working": "🟢",
        "failed": "🔴"
    }
}